<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dojo Show</title>
</head>
<body style="display: flex; flex-direction: column; padding: 20px;">
        <h1 style="color: rgb(26, 89, 126);"> {{all_ninjas.name}} Ninja</h1>
        <table style="background-color: rgb(36, 184, 189);" class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for ninja in all_ninjas.ninjas : %}
                    <tr>
                        <td>{{ninja.first_name}}</td>
                        <td>{{ninja.last_name}}</td>
                        <td>{{ninja.age}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/dojo">Home</a>
</body>
</html>