<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body style="font-size: 20px;">
    <div style=" height: 350px; width: 400px;margin: 50px auto; padding: 1px 50px; background-color:#33393E; ">
        <p style="font-size: 40px; font-weight: bold;color: #0679FB;">{{session["info"].name}}</p>
        <p style="color: white;">Dojo Location: {{session["info"].location}}</p>
        <p style="color: white;">Favorite Language: {{session["info"].language}}</p>
        <p style="color: white;">Comments: {{session["info"].Comment}}</p>
        <hr  style="height: 1px;border: black; background-color: black;">
        <form action="/go_back">
            <button style="cursor: pointer; border: none; background-color: transparent;color: #0679FB; font-size: 20px; margin-top: 20px;">Go Back</button>
        </form>
    </div>
</body>
</html>